*.o
*.elf
*.posix.o
*.qemu.o
*.tkernel.o
*.sakamura.o
*.arm32.o
*.arm64.o
btron-posix
btron-qemu.elf
btron-tkernel.elf
btron-sakamura.elf
btron-arm-baremetal.elf
btron-aarch64-baremetal.elf
verify/btron_verify
tad_bin/
*.toc
*.aux
*.log
*.out
